build/

# MISC. IGNORES =======================
.vscode/settings.json
compile_commands.json
.cache/
.cppcheck-cache/

CMakeUserPresets.json

# C/C++ IGNORES =======================
*.a
*.app
*.d
*.dll
*.exe
*.gch
*.o
*.obj
*.obj
*.out
*.pch
*.so

# PYTHON IGNORES ======================
__pycache__/
.env/
.venv/
env/
venv/

*.py[cod]
*$py.class
