# TRICK IGNORES =======================
# build files
.trick/
build/
trick.zip
makefile
S_main_*
S_sie.resource
S_source.hh

# runtime files
_init_log.csv
S_job_execution
S_run_summary
send_hs
varserver_log

# logging files
log_*.*

# DP files
DP_*.xml

# MISC. IGNORES =======================
.vscode/settings.json

# C/C++ IGNORES =======================
*.a
*.app
*.d
*.dll
*.exe
*.gch
*.o
*.obj
*.obj
*.out
*.pch
*.so

# PYTHON IGNORES ======================
__pycache__/
.env/
.venv/
env/
venv/

*.py[cod]
*$py.class
